<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img
            src="../../assets/auto.png"
            height="45"
            alt="auto Logo"
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"  routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"> Spare parts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/vendor">vendor</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
      <!-- <input [(ngModel)]="listproducts" type="search" id="srchtxtsticky" name="srchtxtsticky" autocomplete="off" class="srpt editable-content not-editable search-text-box searchBar-border searchBar-bg searchBar-text button form-control-sm " placeholder="Search" value="" fdprocessedid="aeoozf" style="width: 300px;"> -->
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a style="padding-left: 20px;" class="text-reset me-3"  
              routerLink="/card"
              >
              <i class="fas fa-shopping-cart"></i>
        </a>
  
        <!-- Notifications 
        <div class="dropdown">
          <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
          </a>
        </div>
-->

        <!-- Avatar -->
        <div >
          <a
            class="cnx"
            routerLink="/signin"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
            
          >  <i class="fa-solid fa-user"  ></i>                                 
        </a>
         
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->